[Desktop Entry]
Encoding=UTF-8
Name=Increase Virtualbox Resolution
Name[ko]=Virtualbox 해상도 조정
Comment=Increase resolution to 1280x960 if it's below that value
Comment[ko]=화면 크기가 작으면 해상도를 1280x960 크기로 변경
Icon=virtualbox
Exec=change-virtualbox-resolution
Terminal=false
Type=Application
StartupNotify=false
X-GNOME-Autostart-Delay=10
X-MATE-Autostart-Delay=10
